# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
stats.html
temp

node_modules
dist
dist-ssr
*.local
*.dot
*.svg
./build
.secret

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
./build

# own
.eslintignore
.gitignore
_template
.prettierignore
*.hbs
public
*.snap
.env.development
.stylelintignore
nginx.conf
init.sql