.panel-scroll {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.panel-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d4d0;

  cursor: grab;
}
